.App {
  width: 100%;
  min-height: 100vh;
}

.action {
  width: 30vw;
  min-width: 220px;
  background-color: #ddd;
}

.map-div {
  width: 70vw;
  background-color: #aaa;
}

.map {
  position: relative;
  width: 100%;
  height: calc(100vh - 60px);
}

.full-h {
  min-height: 100%;
}

.full-v {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: row;
}

.title {
  height: 50px;
  width: 100%;
  text-align: center;
  padding: 5px 0;
  background-color: #000;
  color: #ddd;
}

.title-2 {
  width: 100%;
  text-align: center;
}

.line {
  width: 100%;
  text-align: center;
  display: flex;
  flex-flow: row;
}

.thumbnail {
  width: 120px;
  height: 80px;
}

.foto-div {
  width: 90%;
  margin: 5%;
}

.foto {
  width: 100%;
}

.input-text {
  width: 90%;
  margin: 10px 0 10px 5%;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
}

h2 {
  font-size: 1em;
  margin: 12px 0 5px;
}

h5 {
  margin: 5px 15px 5px 5%;
}

p {
  font-size: 0.85em;
  margin: 5px;
  margin-left: -5px;
}

#list {
  padding: 10px 5%;
  list-style: none;
}

#list li {
  padding: 3px;
  margin: 3px 0;
  font-size: 0.9em;
  background-color: #fff;
}

@media screen and (max-width: 550px) {
  .full-v {
    flex-flow: column-reverse;
  }
  .action {
    width: 100%;
    min-height: 25vh;
  }
  .map-div {
    width: 100%;
    height: 75vh;
  }
  .map {
    height: calc(75vh - 60px)
  }
}
